body {
  background-color: #f5faff;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #333;
  font-size: 2.5em;
  font-weight: 500;
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}

input {
  background-color: white;
  color: black;
  outline: none; /* Remove the highlighted border on search box when clicking on it. */
}

input[type=search] {
	-webkit-appearance: textfield;
  border: solid 2px #ccc;
	border-radius: 10em;
	-moz-border-radius: 10em;
  -webkit-border-radius: 10em;
  box-sizing: content-box;
	-webkit-box-sizing: content-box;
  color: black;
  cursor: pointer;
  height: 18px;
  padding-left: 10px;
	transition: all .5s;
  -webkit-transition: all .5s;
	-moz-transition: all .5s;
  width: 250px;
}

/* Removes superfluous padding in the input. */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

input[type=search]:hover {
  cursor: text;
}

input[type=search]:focus {
  border-color: #92a4e2;
	box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  cursor: auto;
}

#search:hover {
  cursor: pointer;
}

#section_wiki_search {
  margin-top: 20px;
  text-align: center;
}

#search_results {
  margin: auto;
  margin-top: 50px;
  width: 90%;
}

#search_results a {
  background-color: #cedff2;
  border: 1px solid gray;
  color: black;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
}

#search_results a:hover {
  border: 1px solid #92a4e2;
  text-decoration: none;
}

.wiki_title {
  color: #0645ad;
  display: inline;
  font-weight: bold;
  font-size: 1.1em;
}

#random_article {
  margin-top: 5px;
}
#random_article a {
  color: #0645ad;
}
