body {
  background-color: #f5faff;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: auto;
  width: 90%;
}

h1 {
  color: #222;
  font-size: 1.8em;
  font-weight: 500;
  margin: 1.1em 0 1em 0;
  text-align: center;
}

input {
  background-color: white;
  color: black;
  outline: none; /* Remove the highlighted border on search box when clicking on it. */
}

input[type=search] {
  -webkit-appearance: textfield;
  border: solid 2px #ccc;
  border-radius: 10em;
  -moz-border-radius: 10em;
  -webkit-border-radius: 10em;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  color: black;
  cursor: pointer;
  height: 18px;
  padding-left: 10px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  width: 250px;
}

/* Removes superfluous padding in the input. */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type=search]:hover {
  cursor: text;
}

input[type=search]:focus {
  border-color: #92a4e2;
  box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  cursor: auto;
}

#search:hover {
  cursor: pointer;
}

#section-wiki-search {
  margin-top: 1em;
  text-align: center;
}

#search-results {
  margin: auto;
  margin-top: 2.5em;
}

#search-results a {
  background-color: #cedff2;
  border: 1px solid gray;
  color: black;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
}

#search-results a:hover {
  border: 1px solid #92a4e2;
  text-decoration: none;
}

.wiki-title {
  color: #0645ad;
  display: inline;
  font-weight: bold;
  font-size: 1.1em;
}

#random-article {
  margin-top: 0.8em;
}

a {
  color: #0645ad;
  font-size: 0.9em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Link to GitHub */
#my-about {
  font-size: 0.9em;
  margin: 0 auto;
  margin-top: 2em;
  text-align: center;
}

