body {
  background-color: #f5faff;
  color: black;
}

#header {
  font-size: 3em;
  text-align: center;
  color: #333;
  margin-top: 25px;
  margin-bottom: 25px;
}

#header a {
  outline : none; /* Removing outline of link for about section. */
}

/* For info icon (i.e. about section). */
#header img {
  width: 15px;
  margin-top: -30px;
  margin-left: -5px;

}

input {
  outline: none; /* Remove the highlighted border on search box when clicking on it. */
  background-color: white;
  color: black;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;

  -webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;

  -webkit-border-radius: 10em;
	-moz-border-radius: 10em;
  border: solid 2px #ccc;
	border-radius: 10em;
  width: 250px;
  height: 18px;
  padding-left: 10px;
  color: black;
  cursor: pointer;
}

/* Removes superfluous padding in the input. */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

input[type=search]:hover {
  cursor: text;
}

input[type=search]:focus {
  cursor: auto;
  border-color: #92a4e2;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

#search:hover {
  cursor: pointer;
}

#section_wiki_search {
  margin-top: 20px;
  text-align: center;
}

#search_results {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

#search_results a {
  display: block;
  color: black;
  text-decoration: none;
  background-color: #cedff2;
  padding: 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
}

#search_results a:hover {
  text-decoration: none;
  border: 1px solid #92a4e2;
}

.wiki_title {
  display: inline;
  font-weight: bold;
  font-size: 1.1em;
  color: #0645ad;
}

#random_article {
  margin-top: 5px;
}
#random_article a {
  color: #0645ad;
}
